[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = {version = "*", extras = ["atari"]}
mujoco-py = "==1.50.1.56"
tensorflow = "*"
numpy = "*"
seaborn = "*"
opencv-python = "*"
"Box2D" = "*"

[dev-packages]

[requires]
python_version = "3.6"
